body{
    font-family: Helvetica, sans-serif;
    background-color: rgb(32, 32, 32);
    margin:auto;
    padding:10px;
    text-align: center;
    font-size: x-large;
}
button{
    background-color: #153e97;
    border: none;
    color:white;
    font-size: 20px;
}